@import '~bootstrap/dist/css/bootstrap.css';

.example-spacer {
    flex: 1 1 auto;
  }


  .btn{
    width:80px;
    padding : 5px
  }

/* button */
section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
    
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  
  }

  container{
    max-width: 200px;
    margin: 0 auto;
  }

  table {
    width: 100%;
  }

  * {
    font-family: Raleway /* Replace with your custom font */, sans-serif !important; 
    /* Add !important to overwrite all elements */
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width:5%;
  }