
<div class="bg"></div>
<p class="py-5 text-center">
</p>
  
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h2>Please enter username & password</h2>
                </div>
                <form [formGroup]="loginForm">
                
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">User Name</label>
                          <input type="text" class="form-control" formControlName="UserName" >
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" formControlName="Password" >
                        </div>
                        
                        <button type="submit" class="btn btn-primary" (click)="UserLogin()">Login</button>
                        <br><br>
                        <a routerLink="/register">Register for new account</a>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- <p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
  </p> -->