
<form [formGroup]="passForm"></form>

<div class="form-control">
    <label>passanger Name </label>
        <input type="text" class="form-control" formControlName="PassengerName"  placeholder="Name">
    </div>

<router-outlet></router-outlet>
<!-- <div class="col-md-4">
    <div class="form-control">
    <label>passanger Name </label>
        <input type="text" class="form-control" formControlName="PassengerName"  placeholder="Name">
    </div>
  <br>
    <div class="form-control">
    <label>Age</label>
        <input type="number" class="form-control" formControlName="Age"  placeholder="Age">
    </div>
  <br>
    <div class="form-control">
        <label>SeatNo</label>
        <input type="SeatNo" class="form-control" formControlName="SeatNo"  placeholder="seat no">
     </div>
  <label  class="form-label">Gender</label><br>
          <select name="form-control" formControlName="Gender" >
            <option value="">Select Gender</option>
            <option *ngFor="let val of gender" [value]="val">{{val}}</option>
          </select>
</div> -->
