<p>
  <mat-toolbar color="primary">
    <span>Flight Booking </span>
    <span>&nbsp;&nbsp;</span>
    <button mat-raised-button color="warn" (click)="backToShedule()">Back</button>
    <span class="example-spacer"></span>
    <button mat-raised-button class="signout"  color="warn" (click)="logOut()">Sign out</button>
   
  </mat-toolbar>
</p>

<form [formGroup]="bookForm" (ngSubmit)='submit()'>
  <div class="container">
  <div class="row">
  <div class="col-sm">
  <button type="button" class="btn btn-primary" (click)="backToShedule()">Back</button>
  <br><br>
              <label><h4><b>Enter details to book tickets</b></h4></label>
              <div class="form-group">
                <label class="form-label">No of Seats </label>
                <input style="width:300px;" type="number" class="form-control" formControlName="NoOfSeats">
              
                <label class="text-danger" *ngIf="bookForm.get('NoOfSeats').touched 
                    && bookForm.get('NoOfSeats').errors?.['required']">Enter no of seats</label>

              </div>
              <br><br>

              <div class="form-group">
                <label>Class Type <span>&nbsp;&nbsp;</span></label>
                <select style="width:200px;" name="form-control" formControlName="ClassType" >
                  <option value="">Select Class </option>
                  <option *ngFor="let val of classtype" [value]="val">{{val}}</option>
                </select>      
              </div>
              <br><br>

              <div class="form-group">
                <label>Discount Coupon <span>&nbsp;&nbsp;</span></label>
                <select style="width:200px;" name="form-control" formControlName="ClassType" >
                  <option value="">Select Class </option>
                  <option *ngFor="let val of discount" [value]="val.id">{{val.discountCode}}</option>
                </select>      
              </div>
              <br><br>

              <div class="form-group">
              <input type="radio" formControlName="JourneyType" name="JourneyType" 
              (click)="removeReturnDate()" value="One way">
                    <label><span>&nbsp;&nbsp;</span>One way</label><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="radio" formControlName="JourneyType" name="JourneyType" 
                    (click)="addReturnDate()" value="Round Trip">
                    <label><span>&nbsp;&nbsp;</span>Round Trip</label>
              </div>
              <br><br>

              <div class="form-group">
                <label>Return date <span>&nbsp;&nbsp;</span></label>
                <input style="display:none;" id="date" type="date" width=300px formControlName="ReturnDate">
              </div>


    </div>
    <div class="col-sm">
                  <ng-container formArrayName="PassengerList">
                    <button type="button" class="btn btn-primary" (click)="addPass()">Add Passenger</button>
                    <br><br>
                  <div class="card box">
                    <ng-container *ngFor="let form of pass.controls; let i=index">
                      <br>
                      <label><b>Passenger details - {{i+1}}</b></label>
                      <hr>
                      <div [formGroup]="getFormGroup(form)">
                        <label>Name</label>
                        <input  type="text" class="form-control" formControlName="PassengerName"/>
                        <label class="text-danger" *ngIf="getFormGroup(form).get('PassengerName').touched 
                    && getFormGroup(form).get('PassengerName').errors?.['required']">Name is required.</label>
                        <br>    
                    <label>Age</label>
                        <input  type="number" class="form-control" formControlName="Age"/>
                        <label class="text-danger" *ngIf="getFormGroup(form).get('Age').touched 
                        && getFormGroup(form).get('Age').errors?.['required']">Age is required.</label>
                            <br>       

                        <label  class="form-label">Gender</label><br>
                        <select class="form-control" formControlName="Gender" >
                          <option value="">Select Gender</option>
                          <option *ngFor="let f of gender" [value]="f">{{f}}</option>
                        </select> 
                        <label>Seat No</label>
                        <input  type="number" class="form-control" formControlName="SeatNo"/>
                        <label class="text-danger" *ngIf="getFormGroup(form).get('SeatNo').touched 
                    && getFormGroup(form).get('SeatNo').errors?.['required']">Enter seat No.</label>
                        <br>   

                      </div>
                      <br>
                      <button type="button" class="btn btn-danger" (click)="removePass(i)">Delete</button>
                      <br>
                      <hr>
                    </ng-container>
                  </div>
                  </ng-container>
                  <br><br>
                  <button type="submit" class="btn btn-primary">Submit</button>
  </div> 
</div>
</div>
</form>


