

@import '~bootstrap/dist/css/bootstrap.css';

.container{
	max-width:1170px;
	margin:auto;
}
.row{display:flex;flex-wrap:wrap;width:100%;}
.equal-heights{
		flex:1 0 23%;
		margin:1%;
		background:red;
		word-wrap:break-word;
}

.box{
    width: 60%;
    border: 1px solid rgb(145,138,138);
    border-radius: 20px;
    padding : 0px 20px 20px 20px;
}

* {
    font-family: Raleway /* Replace with your custom font */, sans-serif !important; 
    /* Add !important to overwrite all elements */
  }

  .signout{
     justify-content: right;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

/* button */
section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
    
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  
  }

  container{
    max-width: 200px;
    margin: 0 auto;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width:5%;
  }

