<div class="bg"></div>
<p class="py-5 text-center">
</p>
  
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>user Registration</h1>
                    <h3>Provide details to register</h3>
                </div>

                <form [formGroup]="userForm" autocomplete="false" >
                  
                  <div class="mb-3 form-group required">
                    <label  class="form-label">User Name</label>
                    <input formControlName="UserName"  class="form-control" >
                  <label class="text-danger" *ngIf="userForm.get('UserName').touched 
                    && userForm.get('UserName').errors?.['required']">this feild is requried</label>
                  </div>
                
                
                  <div class="mb-3">
                    <label  class="form-label">Gender</label><br>
                    <select name="form-control" formControlName="Gender" >
                      <option value="">Select Gender</option>
                      <option *ngFor="let val of gender" [value]="val">{{val}}</option>
                    </select>
                    
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Email</label>
                    <input formControlName="Email" type="email" class="form-control" aria-describedby="emailHelp">
                    <label class="text-danger" *ngIf="userForm.get('Email').touched && userForm.get('Email').errors?.['required']">This field is mandatory.</label>
                    <label class="text-danger" *ngIf="userForm.get('Email').touched && userForm.get('Email').errors?.['email']">Invalid email address.</label>

                  </div>
                <div formGroupName="Passwords">
                  <div class="mb-3">
                    <label  class="form-label">password</label>
                    <input formControlName="Password" type="password" class="form-control" aria-describedby="emailHelp">
                    <label class="text-danger" *ngIf="userForm.get('Passwords.Password').touched && userForm.get('Passwords.Password').errors?.['required']">This field is mandatory.</label>
                    <label class="text-danger" *ngIf="userForm.get('Passwords.Password').touched && userForm.get('Passwords.Password').errors?.['minlength']">Need atleast 5 characters.</label>
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Confirm Password</label>
                    <input formControlName="ConfirmPassword" type="password" class="form-control" aria-describedby="emailHelp">
                    <label class="text-danger" *ngIf="userForm.get('Passwords.ConfirmPassword').touched && userForm.get('Passwords.ConfirmPassword').errors?.['required']">This field is mandatory.</label>
                    <label class="text-danger" *ngIf="userForm.get('Passwords.ConfirmPassword').touched && userForm.get('Passwords.ConfirmPassword').errors?.['passwordMismatch']">Password does not match.</label>
                  </div>
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="addUser()" [disabled]="!userForm.valid">Sign Up</button>
                        <br><br>
                     <a routerLink="/login">Login account</a>

              </form>
            </div>
        </div>
    </div>
</div>


